* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

.container {
    width: 870px;
    background-color: #fff;
    padding: 22px 30px 30px 30px;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
    padding-bottom: 30px;
}

/* main_menu */

#main_menu {
    background-color: #562EFF;
    display: flex;
    justify-content: center;
}

.menu {
    width: 870px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 26px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 51;
    color: #fff;
    padding-right: 15px;
}

.logo h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item ul li {
    float: left;
    padding-right: 20px;
}

.item ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.item img {
    height: 51px;
    width: 51px;
}

/* players_and_blog */
#players_and_blog {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.top_players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.players {
    display: flex;
    align-items: center;

}

.players img {
    height: 56px;
    width: 56px;
    margin-right: 16px;
}

.players h3 {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

hr {
    border: 1px solid #D1D1D1;
    margin: 30px 0 20px;
}

/* top blog */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 19px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    height: 117px;
    width: 177px;
    margin-right: 16px;
}

.blog_info .favorit {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    line-height: 34px;
}

.blog_info p {
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
}

.blog_info a {
    font-size: 16px;
    font-weight: 400;
    color: #562EFF;
}

/* Lates Course */
#Lates_Course {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course {
    padding: 8px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(241, 241, 241);
}

.course img {
    width: 224px;
    height: 104px;
}

.course p {
    font-size: 20px;
    font-weight: 500;
    color: #1E1E1E;
}

.course a {
    font-size: 14px;
    font-weight: 400;
    color: #ED6B4F;
}

.couses_icon i {
    color: #FFC014;
    font-size: 12px;
}

.couses_icon .empty {
    color: #AEAEAE;
}

.reating {
    display: flex;
    align-items: center;
    gap: 5px;

}

.reating p {
    font-size: 14px;
    font-weight: 400;
    color: #A2A2A2;
}

.time {
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: #FFE4E8;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 30px;
}

.time i,
.time p {
    font-size: 14px;
    color: #FF4A60;
}

/* Media query */


/* Mobile devices */

@media only screen and (max-width:688px) {
    .menu {}

    .top_players {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        display: block;
    }

    .courses {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .course {
        margin-top: 20px;
    }

    h2 {
        text-align: center;
    }
}